<div class="container">
  <header><h1>{{title}} ({{total}})</h1></header>
</div>
<div class="container">
  <form action="/search" method="get">
    <div class="form-group">
      <input type="search" placeholder="Search" name="q" class="form-control">
    </div>
  </form>
</div>
